{% extends "base.html" %}

{% block title %}
	{{instance.title}} | {{block.super}}
{% endblock title %}

{%block content%}
<div class="col-sm-8 col-sm-offset-2">
	{% if instance.image %}
	<img src="{{ instance.image.url }}" class="img-responsive" />		
	{% endif %}
	<h1 property="og:title">{{ title }} <small>{{instance.timestamp}}</small></h1>

    <p>Автор: {{ instance.user }}</p>
    <p>Поделиться:
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">Facebook</a>
        <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>Google+</a>
        <a href='https://twitter.com/home?status={{ share_string | truncatechars:50 }}%20{{ request.build_absolute_uri }}'>Twitter</a>
    </p>
		{{instance.content|linebreaks}}<br>
</div>
{%endblock content%}